@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2 {
  font-family: "Motley Forces";
}

p,
ul,
li {
  font-family: "Shifty Notes";
}

body {
  background: var(--background);
  color: var(--foreground);
  /* font-family: "Shifty Notes", Arial, Helvetica, sans-serif; */
  &::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999999;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0.05;
    pointer-events: none;
    background-image: url("https://static.thangduong.info/public/frame.png");
    color: #aeae9d;
  }
}

.container {
  /* background: var(--background); */
  /* color: var(--foreground); */
}

@font-face {
  font-family: "Shifty Notes";
  src: url("/fonts/ShiftyNotes-Regular.woff2") format("woff2"),
    url("/fonts/ShiftyNotes-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Motley Forces";
  src: url("/fonts/MotleyForces-Regular.woff2") format("woff2"),
    url("/fonts/MotleyForces-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
